body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container.active {
    display: flex;
}

input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    width: 80%;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

.heart {
    width: 150px;
    height: 135px;
    background-color: red;
    position: relative;
    margin: 20px auto;
    transform: rotate(-45deg);
    animation: heartbeat 1s infinite;
}

.heart::before,
.heart::after {
    content: '';
    width: 150px;
    height: 135px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.heart::before {
    top: -75px;
    left: 0;
}

.heart::after {
    left: 75px;
    top: 0;
}

h1 {
    font-size: 24px;
    text-align: center;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(1.1) rotate(-45deg);
    }
}
